html
  head
    title!= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1!= message
    p [SPLASH IMAGE]
    h5 @bottom: small call to action that gives affordance for scrolling down
    p [/SPLASH IMAGE]
    h3.
      basic bio text about me
    p ------
    p [PORTFOLIO - SECTION 1]
    p [/PORTFOLIO - SECTION 1]
    p ------
    p [PORTFOLIO - SECTION 2]
    p [/PORTFOLIO - SECTION 2]
    p ------
    p [CAT VIDEO]
    p [/CAT VIDEO]
    p ------
    p [PORTFOLIO - SECTION 3]
    p [/PORTFOLIO - SECTION 3]
    p ------
    p [FOOTER]
