extends layout

block content
  .top-row
    p

  .top
    #header
      h1!= message

    p eventually, a splash image

    h5 @bottom: small call to action that gives affordance for scrolling down

  .bio
    h3.
      basic bio text about me
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

  .portfolio  [PORTFOLIO - SECTION 1]

  .portfolio [PORTFOLIO - SECTION 2]

  .video [CAT VIDEO]

  .portfolio [PORTFOLIO - SECTION 3]

  .footer [FOOTER]
