extends layout

block content

  #header
    #header-content
      h1#title      dadler codes
      #statement-container
        #helper
          h2#statement  something snappy about me
      h5#cta        v v v call to action v v v

  #content
    #bio
      p#bio-text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        | Lorem ipsum dolor sit amet.

    #p1.portfolio: p portfolio

    #p2.portfolio: p portfolio

    #video: p video

    #p3.portfolio: p portfolio

  #footer: p footer
