doctype html
html
  head
    title!= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Karla' type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Arvo:400,700', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="/javascripts/interaction.js")

  body
    #wrapper
      block content
