@font-face {
  font-family: 'Print Dashed';
  src: url("/fonts/PrintDashed.eot");
  src: url("/fonts/PrintDashed.eot?iefix") format("eot"), url("/fonts/PrintDashed.woff") format("woff"), url("/fonts/PrintDashed.ttf") format("truetype"), url("/fonts/PrintDashed.svg#PrintDashed") format("svg"); }
@font-face {
  font-family: 'Karla', sans-serif; }
@font-face {
  font-family: 'Arvo', serif; }
@font-face {
  font-family: 'Roboto Slab', serif; }
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }
  html h1, html h2,
  body h1,
  body h2 {
    font-family: 'Roboto Slab', serif; }
  html *,
  body * {
    font-family: 'Karla', sans-serif; }

#wrapper {
  min-height: 100%;
  position: relative; }

#header {
  background: gray;
  height: 100vh; }
  #header #header-content {
    background: url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/grass.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    position: relative; }
  #header h1#title {
    margin-top: 0;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 72px;
    font-family: "Print Dashed";
    font-weight: 400; }
  #header #statement-container {
    display: table;
    height: 75%;
    position: absolute;
    overflow: hidden;
    width: 100%; }
    #header #statement-container #helper {
      display: table-cell;
      vertical-align: middle; }
      #header #statement-container #helper h2#statement {
        margin: 0 auto;
        text-align: center;
        font-size: 54px;
        max-width: 900px;
        color: white;
        padding: 0px 10px 45px 10px;
        letter-spacing: 1.15px;
        line-height: 1; }
  #header h3#cta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; }
    #header h3#cta .header-link {
      padding: 0 20px;
      color: white;
      font-size: 24px; }
      #header h3#cta .header-link:hover {
        text-decoration: none;
        color: #1dcd00; }
      #header h3#cta .header-link:visited {
        text-decoration: none; }

#content {
  padding-bottom: 70px; }

#bio {
  padding: 80px 0;
  background-color: #e6e6e6;
  margin-bottom: 70px; }
  @media (min-width: 481px) and (max-width: 768px) {
    #bio {
      padding: 40px 0; } }
  @media (max-width: 480px) {
    #bio {
      padding: 30px 0; } }
  #bio #bio-text {
    text-align: center;
    margin: 0 auto;
    max-width: 950px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.25;
    padding: 0 20px; }
    @media (max-width: 480px) {
      #bio #bio-text {
        font-size: 28px; } }
    #bio #bio-text a:link, #bio #bio-text a:visited {
      text-decoration: none; }

.portfolio {
  height: 500px;
  margin-bottom: 70px; }

.content-portfolio {
  position: relative;
  height: 100%; }
  .content-portfolio h1 {
    font-size: 56px;
    margin-top: 0px;
    padding-bottom: 12px;
    display: block; }
  .content-portfolio p {
    padding-top: 20px;
    font-size: 26px;
    line-height: 1.25; }
    .content-portfolio p .gh-link {
      font-size: 16px; }
  .content-portfolio .tag-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 0px; }
    .content-portfolio .tag-container li {
      width: 200px;
      list-style-type: none;
      font-size: 18px;
      display: inline-block;
      float: left; }
    .content-portfolio .tag-container li:before {
      content: '\25A0';
      display: block;
      position: relative;
      max-width: 0;
      max-height: 0;
      left: -15px;
      top: -2.5px;
      color: #2898e9;
      font-size: 20px; }

#p1 .container {
  height: 100%; }
  #p1 .container #shape-p1 {
    background: black url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/ps3.png") no-repeat;
    background-size: cover;
    background-position: -80px;
    height: 100%;
    width: 50%;
    float: right;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 50% 100%); }

#p2 {
  background-color: #e6e6e6;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 70px 0; }
  #p2 .container {
    height: 100%; }
    #p2 .container h1 {
      text-align: right; }
    #p2 .container p {
      text-align: right; }
    #p2 .container .tag-container {
      right: 0;
      text-align: right; }
      #p2 .container .tag-container li:before {
        left: 140px; }
    #p2 .container #shape-p2 {
      background: black url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/pp3.png") no-repeat;
      background-size: cover;
      background-position-x: -14px;
      height: 100%;
      width: 50%;
      float: left;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 167%);
      shape-outside: polygon(0 0, 100% 0, 50% 100%, 30% 100%); }

#p3 {
  margin-bottom: 70px; }
  #p3 .container {
    height: 100%; }
    #p3 .container #shape-p3 {
      background: black url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/grass.jpg") no-repeat;
      background-size: cover;
      height: 100%;
      width: 50%;
      float: right;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
      shape-outside: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
      shape-margin: 20px; }

#video {
  background-color: #bebebe;
  height: 600px; }
  #video h1 {
    padding-top: 300px;
    text-align: center; }

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: gray; }
  #footer #footer-main {
    margin: 0 auto;
    width: 1100px; }
    #footer #footer-main #footer-left {
      display: inline-block;
      float: left;
      width: 400px;
      margin: 0 auto; }
      #footer #footer-main #footer-left .icon {
        display: inline-block;
        padding: 20px;
        height: 30px; }
        #footer #footer-main #footer-left .icon:hover {
          background: rgba(255, 255, 255, 0.33); }
    #footer #footer-main #footer-right {
      display: inline-block;
      float: right;
      width: 400px;
      margin: 0 auto; }
      #footer #footer-main #footer-right a.footer-link {
        display: inline-block;
        font-size: 22px;
        color: white;
        padding: 25px 20px; }
        #footer #footer-main #footer-right a.footer-link:hover {
          text-decoration: none;
          background: rgba(255, 255, 255, 0.33); }

/*# sourceMappingURL=style.css.map */
