@font-face {
  font-family: 'Print Dashed';
  src: url("/fonts/PrintDashed.eot");
  src: url("/fonts/PrintDashed.eot?iefix") format("eot"), url("/fonts/PrintDashed.woff") format("woff"), url("/fonts/PrintDashed.ttf") format("truetype"), url("/fonts/PrintDashed.svg#PrintDashed") format("svg"); }
@font-face {
  font-family: 'Karla', sans-serif; }
@font-face {
  font-family: 'Arvo', serif; }
@font-face {
  font-family: 'Roboto Slab', serif; }
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }
  html h1, html h2,
  body h1,
  body h2 {
    font-family: 'Roboto Slab', serif; }
  html *,
  body * {
    font-family: 'Karla', sans-serif; }

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
    background: gray;
    height: 100vh;
  }
  #header #header-content {
    background: url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/grass.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
  }
  #header h1#title {
    margin-top: 0;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 72px;
    font-family: "Print Dashed";
    font-weight: 400;
  }
  #header #statement-container {
    display: table;
    height: 75%;
    position: absolute;
    overflow: hidden;
    width: 100%;
  }
    #header #statement-container #helper {
      display: table-cell;
      vertical-align: middle;
    }
      #header #statement-container #helper h2#statement {
        margin: 0 auto;
        text-align: center;
        font-size: 54px;
        max-width: 900px;
        color: white;
        padding: 0px 10px 45px 10px;
        letter-spacing: 1.15px;
        line-height: 1;
      }
  #header h3#cta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
    #header h3#cta .header-link {
      padding: 0 20px;
      color: white;
      font-size: 24px;
    }
      #header h3#cta .header-link:hover {
        text-decoration: none;
        color: #1dcd00;
      }
      #header h3#cta .header-link:visited {
        text-decoration: none;
      }

#content {
  padding-bottom: 70px;
}

#bio {
    padding: 80px 0;
  }

  .content-bio {
    margin: 0 auto;
    max-width: 950px;
  }

  #bio #bio-text {
    display: inline-block;
    width: 60%;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.25;
  }

    #bio #bio-text a:link, #bio #bio-text a:visited {
      text-decoration: none;
    }

  #bio #bio-image {
    display: inline-block;
    background-color: hsl(192, 39%, 60%);
    background: white url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/DWA.profile.smile-crop.JPG") no-repeat;
    background-size: cover;
    width: 30%;
    height: 280px;
    border-radius: 160px;
    margin: 10px 40px;
  }

  @media (max-width: 970px) {
    #bio #bio-text {
      width: 100%;
      text-align: center;
    }

    #bio #bio-image {
      display: none;
    }
  }

  @media (min-width: 769px) {
    #bio {
      padding: 40px;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    #bio #bio-text {
      padding: 0px 20px;
      text-align: center;
      display: block;
      width: 100%;
    }
  }
  @media (max-width: 480px) {
    #bio {
      padding: 30px;
    }

    #bio #bio-text {
      text-align: center;
      display: block;
      width: 100%;
      font-size: 18px;
    }
  }

#portfolio-intro {
    padding: 40px 0;
    background: hsl(83, 73%, 32%);
  }
  #portfolio-intro-text {
    text-align: center;
    margin: 0 auto;
    max-width: 950px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.25;
    padding: 0 20px;
    color: white;
  }

.content-portfolio {
  position: relative;
}
  .content-portfolio h1 {
    font-size: 56px;
    margin-top: 0px;
    padding-bottom: 12px;
    display: block;
  }
  .content-portfolio p {
    padding-top: 20px;
    line-height: 1.25;
  }
    .content-portfolio p .gh-link {
      font-size: 16px;
    }
  .content-portfolio ul.tag-container {
    padding-top: 25px;
    margin: 0px;
  }
    .content-portfolio ul.tag-container li {
      list-style-type: none;
      font-size: 18px;
      display: inline-block;
      padding-left: 12px;
    }

#p0 {
  background-color: #e6e6e6;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 70px 0;
}

#p0 .container {
  height: 100%;
}
  #p0 .container h1 {
    text-align: right;
  }
  #p0 .container p {
    text-align: right;
  }
  #p0 .container .tag-container {
    right: 0;
    text-align: right; }

  #p0 .container #shape-p0 {
    background: black url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/cb2.png") no-repeat;
    background-size: cover;
    background-position-x: -14px;
    height: 100%;
    width: 50%;
    float: left;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 167%);
    shape-outside: polygon(0 0, 100% 0, 50% 100%, 30% 100%);
  }

#p1 {
  padding: 70px 0;
}

#p1 .container {
  height: 100%;
}
  #p1 .container #shape-p1 {
    background: black url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/ps3.png") no-repeat;
    background-size: cover;
    background-position: -80px;
    height: 100%;
    width: 50%;
    float: right;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
  }

#p2 {
  background-color: #e6e6e6;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 70px 0;
}
  #p2 .container {
    height: 100%;
  }
    #p2 .container h1 {
      text-align: right;
    }
    #p2 .container p {
      text-align: right;
    }
    #p2 .container .tag-container {
      right: 0;
      text-align: right; }

    #p2 .container #shape-p2 {
      background: black url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/pp3.png") no-repeat;
      background-size: cover;
      background-position-x: -14px;
      height: 100%;
      width: 50%;
      float: left;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 167%);
      shape-outside: polygon(0 0, 100% 0, 50% 100%, 30% 100%);
    }

#p3 {
  padding: 70px 0;
}
  #p3 .container {
    height: 100%;
  }
    #p3 .container #shape-p3 {
      background: black url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/rc1.png") no-repeat;
      background-size: cover;
      height: 100%;
      width: 50%;
      float: right;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
      shape-outside: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
      shape-margin: 20px;
    }
  #p3 .content-portfolio ul.tag-container li {
    text-align: left;
  }

  /* Media queries for portfolio sections */
  @media (max-width: 992px) {
    #p0,
    #p1,
    #p2,
    #p3 {
      padding: 25px 20px;
    }

    #p0 .container,
    #p1 .container,
    #p2 .container,
    #p3 .container {
      width: 100%;
    }

    #p0 .container #shape-p0,
    #p1 .container #shape-p1,
    #p2 .container #shape-p2,
    #p3 .container #shape-p3 {
      margin: 0 20px;
      -webkit-clip-path: none;
      float: none;
      height: 33%;
      width: 100%;
    }

    #p0 .container .content-portfolio {
      display: block;
      clear: none;
    }

    #p0 .container h1,
    #p1 .container h1,
    #p2 .container h1,
    #p3 .container h1 {
      text-align: center;
      font-size: 42px;
    }

    #p0 .container p,
    #p1 .container p,
    #p2 .container p,
    #p3 .container p {
      display: block;
      clear: none;
      text-align: left;
    }

    #p0 .container ul.tag-container,
    #p1 .container ul.tag-container,
    #p2 .container ul.tag-container,
    #p3 .container ul.tag-container {
      text-align: left;
    }
    /*#p0 .container ul.tag-container li,
    #p1 .container ul.tag-container li,
    #p2 .container ul.tag-container li,
    #p3 .container ul.tag-container li {
      width: 100%;
    }*/
  }

  @media (min-width: 992px) {
    .portfolio {
      height: 500px;
    }
    .content-portfolio {
      font-size: 26px;
    }
  }

  @media (max-width: 991px) {
    .content-portfolio {
      font-size: 22px;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .content-portfolio {
      margin: 0 20px;
    }
  }

  @media (max-width: 480px) {
    .content-portfolio {
      margin: 0 20px;
    }
  }

#video {
  background-color: #bebebe;
  height: 600px;
}
  #video h1 {
    padding-top: 300px;
    text-align: center;
  }

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: #073D89;
}
    #footer #footer-main #footer-left {
      display: inline-block;
      float: left;
      width: 400px;
      margin: 0 auto;
    }
      #footer #footer-main #footer-left .icon {
        display: inline-block;
        padding: 20px;
        height: 30px;
      }
        #footer #footer-main #footer-left .icon:hover {
          background: rgba(255, 255, 255, 0.33);
        }
    #footer #footer-main #footer-right {
      display: inline-block;
      float: right;
      width: 400px;
    }
      #footer #footer-main #footer-right a.footer-link {
        display: inline-block;
        font-size: 22px;
        color: white;
        padding: 25px 20px;
      }
        #footer #footer-main #footer-right a.footer-link:hover {
          text-decoration: none;
          background: rgba(255, 255, 255, 0.33);
        }


  @media (min-width: 1100px) {
    #footer #footer-main {
      margin: 0 auto;
      width: 1100px;
    }
  }

  @media (max-width: 991px) {
    #footer #footer-main {
      width: 400px;
      margin: 0 auto;
    }

    #footer #footer-main #footer-left .icon {
      padding: 20px 23px;
    }

    #footer #footer-main #footer-right {
      display: none;
    }

    #footer #footer-main #footer-right a.footer-link {
      display: none;
    }
  }
/*# sourceMappingURL=style.css.map */
